*~
.*~
\#*\#
.\#*\#

.DS_Store
.project
.settings
.directory

*.kdevelop.*
*.kdevelop
*.kdevses
*.kdev4
/Doxyfile
/tags

nohup.out
*.log

/test/lua-nucleo
/test/lua-aplicado
/test/pk-core
/test/pk-test
/test/test.lua
/test/test.sh
